div {
    max-height: 100vh;

    &.title {
        background: url('https://cdn.pixabay.com/photo/2017/05/07/20/13/site-2293451_1280.jpg') no-repeat;
        background-size: cover;

        section {
            align-self: end !important;

            h1 {
                margin-bottom: 4%;
                padding: 2%;
            }
        }
    }

    &.kubernetes {
        img {
            max-height: 25vh;
            width: auto;
        }
    }
}
